/**
    Exposure Calculator
    style.css
*/

@import url("http://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("http://fonts.googleapis.com/css?family=Exo+2:400");

*,
*:before,
*:after,
main {
  box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

html { font-size: 100%; }
html, button, input, select, textarea { font-family: "Roboto", "Droid Sans", Helvetica, Arial, sans-serif; }
body, figure, form, fieldset, legend, input, select, textarea, button { margin: 0; }


body {
  font-family: "Roboto", "Droid Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 21px;
  line-height: 1.3125rem;
  color: #E4E4E4;
  background-color: #242A36;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
}

.clear:before,
.clear:after {
  content: "";
  display: table;
}

.clear:after { clear: both; }
.clear { zoom: 1; }


a, a:visited {
  text-decoration: none;
  color: #8ABEE5;
}

header {
  width: 100%;
  background-color: #3B444F;
}

header div.inner {
  max-width: 360px;
  margin: 0 auto;
  padding: 12px 4px;
}

h1.site-title {
   font-size: 24px;
   font-family: "Exo 2", Georgia, serif;
   font-weight: 400;
   color: #16C98D;
   margin: 0 0 4px 0;
   padding: 0;
}

h3.site-description {
	font-weight: 300;
	font-size: 14px;
}

main {
  max-width: 360px;
  margin: 0 auto 32px auto;
  padding: 4px 8px;
}

footer {
  max-width: 360px;
  width: 100%;
  min-width: 320px;
  height: 32px;
  font-size: 13px;
  color: #999;
  margin: 0 auto;
  padding: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

footer span {
    display: inline-block;
    margin: 0 4px;
}

table, tr, td {
    margin: 0;
    padding: 0;
}

/* App
================================================== */

.mt20 { padding: 24px 0; }
.mt10 { margin: 16px 0; }

select#iso, 
select#aperture {
	font-size: 1.2rem;
	width: 92px;
	margin-left: 8px;
	padding-left: 4px;
}

select#scene {
	font-size: 1.2rem;
	width: 100%;
    text-align: left;
}

g.tick text {
    fill: white;
}

label {
    font-weight: normal;
    margin: 12px 0;
    display: block;
}

.lock-block {
    display:inline-block;
}

#ev-val {
    width: 3.0rem;
    display:inline-block;
    padding-left: 4px;
}

.val {
    font-size: 1.6rem;
    color: #FEEF6D;
}

.overunder {
    font-size: 1.6rem;
    color: #FF708E;
}

/* Moonlight
================================================== */

div.moon-table {
    width: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
}

div.moon-table div:first-child {
    margin-left: 6px;
}

input[type=range] {
    width: 100%;
}

.footnote {
	font-size: 14px;
	font-weight: 300;
	margin-top: 48px;
}
